numpy>=1.14
pandas
pysam>=0.16
Pillow
tqdm
tensorflow>=2.8, <2.9
tensorflow-addons
ray>=1.2.0
hydra-core>=1.1
intervaltree
dataclasses
scipy>=1.2.0
parameterized
joblib
scikit-learn
portalocker
whatshap=1.4
